@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(./assits/images/1_5lyavS59mazOFnb55Z6znQ.png);
    height: 644px;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;

}

.main .box {

    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel+Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    background-color: rgb(44, 44, 44);
    height: 7px;
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 5px;

}

.btn_red {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
}

.main input {
    width: 350px;
    padding: 10px 10px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(255, 252, 252, 0.2);
    margin-right: 10px;
}

.btn_red_sm {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    align-items: center;
    margin: auto;
    color: #fff;

}

.secImg {
    position: relative;

}

.secImg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    width: 26vw;
    position: absolute;
    top: 51px;
    right: 0px;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;

}

section.first>div {
    display: flex;
    flex-direction: column;
}


section.second>div {
    display: flex;
    flex-direction: column;
}


.faq {
    background-color: black;
    color: #fff;

}

.faq h2 {
    text-align: center;
    padding: 20px;
    font-size: 48px;
    font-weight: 900;
}

.faqbox:hover {
    background-color: rgb(75, 74, 74);
}

.faqbox {
    transition: all ease-out;
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 400;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #fff;


}

.footer-item {
    display: flex;
    flex-direction: column;
}

footer {
    color: #fff;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
     
}

footer .footer-div {
    padding: 23px 0px ;
}
    

footer a {
    font-size: 14px ;
    gap: 23px ;
    color: #fff;
}